<div class="footer">
    <div class="cardbox-footer">
        <div>
            <img class="img-footer-logoo" src="/img/logoo.png">
        </div>
        <div class="link-footer">
            designyourtshirt.com
        </div>
    </div>
    <div class="cardbox-footer connect">
        <div>
            <img class="img-footer-facebook" src="/img/face-book.png"> Fanpage: Design own T-shirt
        </div>
        <div class="bloger-phone">
            <img class="img-footer-facebook" src="/img/blog.png"> Blogger: designyourtshirt.com
        </div>
        <div class="bloger-phone">
            <img class="img-footer-facebook" src="/img/phone.png"> Phone: 0868977602
        </div>

    </div>
</div>