<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-link contact">Contact</button>
        <button type="button" class="btn btn-link login"><a href="/users/login">Log-in</a></button>
    </div>
</div>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <img class="_img" src="/img/logo.png">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <img class="menu" src="/img/home_.png">
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img class="menu" src="/img/cat.png">
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdownMenuLink">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/img/men ts.jpg" alt="flower" class="img-fluid img-dropdow">
                            <button onclick="click_create()" type="button" class="btn btn-primary create">
                                "Create Men T-Shirt
                                <br> Template"
                            </button>
                        </div>
                        <div class="col-md-3">
                            <img src="/img/wuman ts.jpg" alt="flower" class="img-fluid img-dropdow">

                            <button onclick="click_create()" type="button" class="btn btn-primary create woman ac_click">
                                "Create Woman T-Shirt
                                <br> Template"
                            </button>


                        </div>
                        <div class="col-md-3">
                            <img src="/img/kid ts.jpg" alt="flower" class="img-fluid img-dropdow">
                            <button onclick="click_create()" type="button" class="btn btn-primary create">
                                "Create Kid T-Shirt
                                <br> Template"
                            </button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/gallery">
                    <img class="menu" src="/img/beautiful t-shirt.png">
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 test">
            <button type="button" class="btn btn-outline-secondary">
                <img class="gh" src="/img/gh.png">
            </button>
        </form>
    </div>
</nav>