<div class="row">
    <div class="col-md-12" style="margin-top:15px;display: flex; justify-content: center;align-items: center">
        <h1 style="font-family: 'Indie Flower', cursive;font-size: 57px;color:rgb(46, 26, 230);">
            Beautiful Design T-shirt
        </h1>
    </div>
</div>
<!--  -->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6" style="margin-top:25px;display: flex; justify-content: center;align-items: center">
                            <div class="post">
                                <a href="img/ts2.jpg" class="fancybox" rel="group">
                                    <img src="img/ts2.jpg">
                                    <div class="post-s">
                                        <button type="button" class="btn btn-outline-secondary">Mua ngay</button>
                                    </div>
                                </a>

                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top:25px;display: flex; justify-content: center;align-items: center">
                            <div class="post">
                                <a href="img/ts7.jpg" class="fancybox" rel="group">
                                    <img src="img/ts7.jpg">
                                    <div class="post-s">
                                        <button type="button" class="btn btn-outline-secondary">Mua ngay</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin-top:25px;display: flex; justify-content: center;align-items: center">
                            <div class="post">
                                <a href="img/ts8.jpg" class="fancybox" rel="group">
                                    <img src="img/ts8.jpg">
                                    <div class="post-s">
                                        <button type="button" class="btn btn-outline-secondary">Mua ngay</button>
                                    </div>
                                </a>

                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top:25px;display: flex; justify-content: center;align-items: center">
                            <div class="post">
                                <a href="img/ts9.jpg" class="fancybox" rel="group">
                                    <img src="img/ts9.jpg">
                                    <div class="post-s">
                                        <button type="button" class="btn btn-outline-secondary">Mua ngay</button>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <a href="img/modle ts.jpg" class="fancybox" rel="group">
                        <img class="img-model" src="img/model2.png">
                        
                    </a>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>


            <!-- 3 áo thun -->
            <div class="row" style="margin-top:10px; margin-bottom:10px;">
                <div class="col-md-4" style="margin-top:25px;display: flex; justify-content: center;align-items: center">
                    <div class="post1">
                        <a href="img/ts4.jpg" class="fancybox" rel="group">
                            <img src="img/ts4.jpg">
                            <div class="post-s1">
                                <button type="button" class="btn btn-outline-secondary">Mua ngay</button>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="col-md-4" style="margin-top:25px;display: flex; justify-content: center;align-items: center">
                    <div class="post1">
                        <a href="img/ts5.jpg" class="fancybox" rel="group">
                            <img src="img/ts5.jpg">
                            <div class="post-s1">
                                <button type="button" class="btn btn-outline-secondary">Mua ngay</button>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top:25px;display: flex; justify-content: center;align-items: center">
                    <div class="post1">
                        <a href="img/ts6.jpg" class="fancybox" rel="group">
                            <img src="img/ts6.jpg">
                            <div class="post-s1">
                                <button type="button" class="btn btn-outline-secondary">Mua ngay</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- áo thun nữ -->
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 blue " style="margin-top:25px;display: flex; justify-content: center;align-items: center">
                    <a href="img/gts1.jpg" class="fancybox" rel="group">
                        <img class="img-model" src="img/gts1.jpg" style="width:500px;height:700px;">
                    </a>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12" style="margin-top:25px;display: flex; justify-content: center;align-items: center">
                            <a href="img/gts2.jpg" class="fancybox" rel="group">
                                <img src="img/gts2.jpg" style="width:250px;height:320px;border-style: double;">
                            </a>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top:25px;display: flex; justify-content: center;align-items: center">
                            <a href="img/gts3.jpg" class="fancybox" rel="group">
                                <img src="img/gts3.jpg" style="width:250px;height:320px;border-style: double;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-md-2"></div>
</div>

<!-- Add jQuery library -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="lib/jquery.mousewheel.pack.js"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="source/jquery.fancybox.css?v=2.1.7" type="text/css" media="screen" />
<script type="text/javascript" src="source/jquery.fancybox.pack.js?v=2.1.7"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
            afterLoad: function () {
                this.title = '<div style="margin-top:5px;display: flex; justify-content: center;align-items: center"><button type="button" class="btn btn-primary">Thêm vào giỏ hàng</button></div> ';
            },
            helpers: {
                title: {
                    type: 'inside'
                }
            }
        });
    });
</script>