.mega-menu{
    width: 800px;
    overflow: hidden;
    padding: 10px;
}
.btn-primary{
    margin-top: 5px;
    border-radius: 20px 20px 20px 20px;
}
.woman{
    font-size: 13px;
}
.img-dropdow{
    width: 250px;
    height: 250px;
}
